:root.theme-dark {
  --page-bg-color: #000028;
  --page-bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-soft-color: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --heading-color: #ff0070;
  --decorated-text-color: #000028;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --section-title-color: #ff0070;
  --content-bg-color: #ff0070;
  --content-text-color: #f1b2ce;
  --corner-color: #ff0070;
  --rec-display: flex;
}
