*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  min-inline-size: 375px;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  inline-size: 100%;
  block-size: auto;
}
